<h1>New Task</h1>

<%= link_to "Add new task", new_task_path ,id: "new_link", remote: true %>

<div id="tasks_list_div">
	<% @tasks.each do |t| %>
<div class="well">
	
	<strong>Title :</strong> <%=t.title  %><br>
	<strong>Description :</strong><%= t.desc %><br>
	<%= link_to "edit", show_task_path(t), remote: true %><br>
	<%= link_to "delete", delete_task_path(t),method: :delete , remote: true %>	
	
</div><hr>
<% end %>
</div>