<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

<p>
  
  <%= select_date Date.today, prefix: :start_date %>
</p>

<p>
  <%= date_select :person, :birth_date %>
</p>


   <p>Date: <%= f.text_field :name, :id=>"datepicker", :readonly=>"true" %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
