 <button type="button" class = "addevent btn btn-primary"  data-toggle="modal" data-target="#myModal">Create new event</button>

<div class="container">


		
	<% @events.each do |e| %>

<div class="row ">
<div class="col-md-6 well">



	<strong class="green">Event : </strong><%= link_to e.title.capitalize, edit_event_path(e) %><br>
	<strong class="green">Organiser : </strong>	<%= User.find(e.owner_id).firstname%>&nbsp;<%= User.find(e.owner_id).lastname%><br>
  
  <a href="#" data-toggle="modal" data-target="#myModal-<%= e.id%>">Participants</a><br><br>

 <div class="status">
  <% if e.status== nil %>
  <div>
    <span class="green-back white-color">open</span> 
  </div> 

  <%elsif e.status== false %>
   <div>
    <span class="red-back white-color">close</span> 
  </div>   
<% end %>
  </div>
  <% if current_user.id== e.owner_id%>
  <%= link_to 'Delete event', delete_event_path(e), method: :delete, data: { confirm: 'Are you sure?' } ,"class" => "btn btn-primary"  %>
  <% end %>
<!-- ///////////////////////////Participants //////////////////////////////// -->
	

 

 
  <!-- Modal -->
  <div class="modal fade" id="myModal-<%= e.id%>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Event : <%= e.title  %> </h4>
        </div>
        <div class="modal-body">
       
          <table class="table">
          <tr>  <th>List of Participants</th></tr>
          	<% e.users.each do |u| %>
    
          	<tr>
           
          		<td><%= u.firstname%>&nbsp;<%= u.lastname%></td>
          	</tr>
			       <% end %>

          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  




<!-- ///////////////////////////////////////////////////////////////// -->

		

</div>


<div class="col-md-6 ">
<div class="well">
<table width="100%" >
  <tr>
    <td><strong>Event Name : </strong></td><td><p class="well well-sm"><%= e.title %></p></td>
    </tr><tr>
      <td><strong>Venue : </strong></td><td><p class="well well-sm"><%= e.venue %></p></td>
      </tr><tr>
        <td><strong>Date : </strong></td><td><p class="well well-sm"><%= e.date %></p></td>
        </tr><tr>
          <td><strong>Time : </strong></td><td><p class="well well-sm"><%= e.time %></p></td>
          </tr><tr>
            <td><strong>Description : </strong></td><td><p class="well well-sp"><%= e.desc %></p></td>

  </tr>
</table>
</div>
	

			
</div>

</div><!-- row -->
<% end %>
</div><!-- container -->



<!-- ********************************Create event****************************************** -->

 <%= render "partials/create_event" %>