<!DOCTYPE html>
<html>
<head>
  <title>BootAuthor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
      <%= link_to 'WebSiteName', new_author_path  , "class" => "navbar-brand"  %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign Up', new_author_path, "href"=>"#" ,  'data-toggle'=>'modal' , 'data-target' => '#exampleModal' , 'data-whatever'=>"@getbootstrap"  %></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>





<%= yield %>

</body>
</html>
